name: xgb_env
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pandas
  - numpy
  - scikit-learn
  - matplotlib
  - seaborn
  - pyreadstat
  - jupyter
  - ipykernel
  - xgboost
  - shap
  - sweetviz
  - fairlearn
  - ruff
  - black
  - pre-commit
  - pyarrow
  - fastapi
  - uvicorn
  - pydantic
  - pip
  - pip:
    - streamlit
    - pycaret
