name: xgb_env
channels:
  - conda-forge
  - defaults
dependencies:
  - _openmp_mutex=4.5
  - brotli-bin=1.2.0
  - bzip2=1.0.8
  - ca-certificates=2025.11.12
  - cairo=1.18.4
  - contourpy=1.3.2
  - cycler=0.12.1
  - double-conversion=3.3.1
  - expat=2.7.3
  - font-ttf-dejavu-sans-mono=2.37
  - font-ttf-inconsolata=3.000
  - font-ttf-source-code-pro=2.038
  - font-ttf-ubuntu=0.83
  - fontconfig=2.15.0
  - fonts-conda-ecosystem=1
  - fonts-conda-forge=1
  - fonttools=4.61.0
  - freetype=2.14.1
  - graphite2=1.3.14
  - harfbuzz=11.0.0
  - icu=75.1
  - kiwisolver=1.4.9
  - krb5=1.21.3
  - lcms2=2.17
  - lerc=4.0.0
  - libblas=3.11.0
  - libbrotlicommon=1.2.0
  - libbrotlidec=1.2.0
  - libbrotlienc=1.2.0
  - libcblas=3.11.0
  - libclang13=21.1.6
  - libdeflate=1.22
  - libexpat=2.7.3
  - libffi=3.4.4
  - libfreetype=2.14.1
  - libfreetype6=2.14.1
  - libgcc=15.2.0
  - libglib=2.84.0
  - libgomp=15.2.0
  - libhwloc=2.12.1
  - libiconv=1.18
  - libintl=0.22.5
  - libjpeg-turbo=3.1.2
  - liblapack=3.11.0
  - liblzma=5.6.4
  - liblzma-devel=5.6.4
  - libpng=1.6.51
  - libsqlite=3.51.1
  - libtiff=4.7.0
  - libwebp-base=1.6.0
  - libwinpthread=12.0.0.r4.gg4f2fc60ca
  - libxcb=1.17.0
  - libxml2=2.13.9
  - libxslt=1.1.43
  - libzlib=1.3.1
  - llvm-openmp=21.1.6
  - mkl=2025.3.0
  - munkres=1.1.4
  - narwhals=2.12.0
  - numpy=1.26.4
  - openjpeg=2.5.3
  - openssl=3.6.0
  - packaging=25.0
  - patsy=1.0.2
  - pcre2=10.44
  - pillow=11.3.0
  - pip=25.3
  - pixman=0.46.4
  - pthread-stubs=0.4
  - pyparsing=3.2.5
  - pyreadstat=1.3.2
  - pyside6=6.9.0
  - python=3.10.19
  - python-dateutil=2.9.0.post0
  - python-tzdata=2025.2
  - python_abi=3.10
  - pytz=2025.2
  - qhull=2020.2
  - qt6-main=6.9.0
  - seaborn=0.13.2
  - seaborn-base=0.13.2
  - setuptools=80.9.0
  - six=1.17.0
  - sqlite=3.51.0
  - statsmodels=0.14.5
  - tk=8.6.15
  - tornado=6.5.2
  - tzdata=2025b
  - ucrt=10.0.22621.0
  - unicodedata2=17.0.0
  - vc=14.3
  - vc14_runtime=14.44.35208
  - vcomp14=14.44.35208
  - vs2015_runtime=14.44.35208
  - wheel=0.45.1
  - xorg-libxau=1.0.12
  - xorg-libxdmcp=1.1.5
  - xz=5.6.4
  - xz-tools=5.6.4
  - zlib=1.3.1
  - zstd=1.5.7
  - pip:
      - adagio==0.2.6
      - aiofiles==24.1.0
      - alembic==1.17.2
      - altair==5.5.0
      - annotated-doc==0.0.4
      - annotated-types==0.7.0
      - ansi2html==1.9.2
      - antlr4-python3-runtime==4.11.1
      - anyio==4.12.0
      - aplr==10.19.1
      - appdirs==1.4.4
      - asttokens==3.0.1
      - attrs==25.4.0
      - beautifulsoup4==4.14.3
      - blinker==1.9.0
      - boto3==1.42.0
      - botocore==1.41.6
      - brotli==1.2.0
      - cachetools==6.2.2
      - catboost==1.2.8
      - category-encoders==2.7.0
      - certifi==2025.11.12
      - cffi==2.0.0
      - charset-normalizer==3.4.4
      - choreographer==1.2.1
      - click==8.3.1
      - cloudpickle==3.1.2
      - colorama==0.4.6
      - colorlog==6.10.1
      - colour==0.1.5
      - comm==0.2.3
      - cryptography==46.0.3
      - cython==3.2.2
      - daal==2025.9.0
      - dacite==1.9.2
      - dash==2.18.2
      - dash-auth==2.3.0
      - dash-bootstrap-components==1.7.1
      - dash-core-components==2.0.0
      - dash-cytoscape==1.0.2
      - dash-html-components==2.0.0
      - dash-table==5.0.0
      - dash-testing-stub==0.0.2
      - dask==2025.11.0
      - databricks-sdk==0.73.0
      - debugpy==1.8.17
      - decorator==5.2.1
      - deprecation==2.1.0
      - dill==0.4.0
      - distributed==2025.11.0
      - distro==1.9.0
      - docker==7.1.0
      - dtreeviz==2.2.2
      - dynaconf==3.2.12
      - evidently==0.4.40
      - exceptiongroup==1.3.1
      - executing==2.2.1
      - explainerdashboard==0.5.1
      - fairlearn==0.7.0
      - faker==38.2.0
      - fastapi==0.123.0
      - fastjsonschema==2.21.2
      - ffmpy==1.0.0
      - filelock==3.20.0
      - filetype==1.2.0
      - flask==2.3.3
      - flask-cors==6.0.1
      - flask-simplelogin==0.2.0
      - flask-wtf==1.2.2
      - fsspec==2025.10.0
      - fugue==0.8.7
      - fugue-sql-antlr==0.2.2
      - future==1.0.0
      - gevent==25.9.1
      - gitdb==4.0.12
      - gitpython==3.1.45
      - google-auth==2.43.0
      - gradio==6.0.1
      - gradio-client==2.0.0
      - graphene==3.4.3
      - graphql-core==3.2.7
      - graphql-relay==3.2.0
      - graphviz==0.21
      - greenlet==3.2.4
      - groovy==0.1.2
      - h11==0.16.0
      - hf-xet==1.2.0
      - httpcore==1.0.9
      - httptools==0.7.1
      - httpx==0.28.1
      - huey==2.5.4
      - huggingface-hub==1.1.7
      - hyperopt==0.2.7
      - idna==3.11
      - imagehash==4.3.2
      - imbalanced-learn==0.14.0
      - importlib-metadata==8.7.0
      - importlib-resources==6.5.2
      - iniconfig==2.3.0
      - interpret==0.7.3
      - interpret-core==0.7.3
      - ipykernel==7.1.0
      - ipython==8.37.0
      - ipywidgets==8.1.8
      - iterative-telemetry==0.0.10
      - itsdangerous==2.2.0
      - jedi==0.19.2
      - jinja2==3.1.6
      - jmespath==1.0.1
      - joblib==1.3.2
      - jsonschema==4.25.1
      - jsonschema-specifications==2025.9.1
      - jupyter-client==8.6.3
      - jupyter-core==5.9.1
      - jupyter-dash==0.4.2
      - jupyterlab-widgets==3.0.16
      - kaleido==1.2.0
      - kmodes==0.12.2
      - lightgbm==4.6.0
      - litestar==2.18.0
      - litestar-htmx==0.5.0
      - llvmlite==0.45.1
      - locket==1.0.0
      - logistro==2.0.1
      - lxml==6.0.2
      - m2cgen==0.10.0
      - mako==1.3.10
      - markdown-it-py==4.0.0
      - markupsafe==3.0.3
      - matplotlib==3.7.5
      - matplotlib-inline==0.2.1
      - mdurl==0.1.2
      - minify-html==0.18.1
      - mlflow==3.6.0
      - mlflow-skinny==3.6.0
      - mlflow-tracing==3.6.0
      - mlxtend==0.23.4
      - moto==4.2.14
      - msgpack==1.1.2
      - msgspec==0.20.0
      - multidict==6.7.0
      - multimethod==1.12
      - multipart==1.3.0
      - multiprocess==0.70.18
      - mypy-extensions==1.1.0
      - nbformat==5.10.4
      - nest-asyncio==1.6.0
      - networkx==3.4.2
      - nltk==3.9.2
      - numba==0.62.1
      - opentelemetry-api==1.38.0
      - opentelemetry-proto==1.38.0
      - opentelemetry-sdk==1.38.0
      - opentelemetry-semantic-conventions==0.59b0
      - optuna==4.6.0
      - optuna-integration==4.6.0
      - orjson==3.11.4
      - outcome==1.3.0.post0
      - oyaml==1.0
      - pandas==2.1.4
      - parso==0.8.5
      - partd==1.4.2
      - percy==2.0.2
      - phik==0.12.5
      - platformdirs==4.5.0
      - playwright==1.56.0
      - plotly==5.24.1
      - plotly-resampler==0.11.0
      - pluggy==1.6.0
      - pmdarima==2.0.4
      - polyfactory==3.1.0
      - prompt-toolkit==3.0.52
      - protobuf==6.33.1
      - psutil==7.1.3
      - pure-eval==0.2.3
      - puremagic==1.30
      - py4j==0.10.9.9
      - pyaml==25.7.0
      - pyarrow==21.0.0
      - pyasn1==0.6.1
      - pyasn1-modules==0.4.2
      - pycaret==3.3.2
      - pycparser==2.23
      - pydantic==2.12.4
      - pydantic-core==2.41.5
      - pydeck==0.9.1
      - pydub==0.25.1
      - pyee==13.0.0
      - pygments==2.19.2
      - pynndescent==0.5.13
      - pyod==2.0.5
      - pyopenssl==25.3.0
      - pysocks==1.7.1
      - pytest==7.4.4
      - pytest-timeout==2.4.0
      - python-dotenv==1.2.1
      - python-multipart==0.0.20
      - pywavelets==1.8.0
      - pywin32==311
      - pyyaml==6.0.3
      - pyzmq==27.1.0
      - qpd==0.4.4
      - referencing==0.37.0
      - regex==2025.11.3
      - requests==2.32.5
      - responses==0.25.8
      - retrying==1.4.2
      - rich==14.2.0
      - rich-click==1.9.4
      - rpds-py==0.30.0
      - rsa==4.9.1
      - s3transfer==0.16.0
      - safehttpx==0.1.7
      - salib==1.5.1
      - schemdraw==0.15
      - scikit-base==0.7.8
      - scikit-learn==1.4.2
      - scikit-learn-intelex==2025.9.0
      - scikit-optimize==0.10.2
      - scikit-plot==0.3.7
      - scipy==1.11.4
      - selenium==4.2.0
      - semantic-version==2.10.0
      - shap==0.44.1
      - shellingham==1.5.4
      - simplejson==3.20.2
      - sktime==0.26.0
      - slicer==0.0.7
      - smmap==5.0.2
      - sniffio==1.3.1
      - sortedcontainers==2.4.0
      - soupsieve==2.8
      - sqlalchemy==2.0.44
      - sqlglot==28.0.0
      - sqlparse==0.5.4
      - stack-data==0.6.3
      - starlette==0.50.0
      - statsforecast==1.5.0
      - streamlit==1.51.0
      - sweetviz==2.3.1
      - tbats==1.1.3
      - tbb==2022.3.0
      - tblib==3.2.2
      - tcmlib==1.4.1
      - tenacity==9.1.2
      - threadpoolctl==3.6.0
      - toml==0.10.2
      - tomli==2.3.0
      - tomlkit==0.13.3
      - toolz==1.1.0
      - tqdm==4.67.1
      - traitlets==5.14.3
      - triad==1.0.0
      - trio==0.32.0
      - trio-websocket==0.12.2
      - tsdownsample==0.1.4.1
      - typeguard==4.4.4
      - typer==0.20.0
      - typer-slim==0.20.0
      - typing-extensions==4.15.0
      - typing-inspect==0.9.0
      - typing-inspection==0.4.2
      - ujson==5.11.0
      - umap-learn==0.5.7
      - urllib3==1.26.20
      - urllib3-secure-extra==0.1.0
      - uuid6==2025.0.1
      - uvicorn==0.38.0
      - visions==0.8.1
      - waitress==3.0.2
      - watchdog==6.0.0
      - watchfiles==1.1.1
      - wcwidth==0.2.14
      - websockets==15.0.1
      - werkzeug==2.3.8
      - widgetsnbextension==4.0.15
      - wordcloud==1.9.4
      - wsproto==1.3.2
      - wtforms==3.2.1
      - xgboost==3.1.2
      - xmltodict==1.0.2
      - xxhash==3.6.0
      - ydata-profiling==4.18.0
      - yellowbrick==1.5
      - zict==3.0.0
      - zipp==3.23.0
      - zope-event==6.1
      - zope-interface==8.1.1